.cell-bg {
  display: flex;
  height: 50vh;
  background-color: rgb(81, 140, 224);
  justify-content: center;
  align-items: center;
}
#parent {
  position: relative;
  height: 100px;
  width: 100px;
}
#image-bg {
  position: absolute;
  height: 400px;
  width: 600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid red;
}
#fusion {
  height: 400px;
  width: 600px;
  background: rgb(38, 59, 97);
  border: solid 2px #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: contrast(10);
}
#fusion div {
  border-radius: 50%;
  filter: blur(15px);
  /* filter: blur(3px); */
}
.left {
  width: 120px;
  height: 120px;
  border: 8px solid rgb(0, 212, 184);
  background: rgb(109, 156, 223);
  opacity: 0.8;
  margin: auto;
  border-radius: 30% 70% 70% 30% / 30% 40% 60% 70%;
  box-shadow: inset 5px 10px 15px rgba(138, 190, 238, 0.4),
    10px 15px 15px rgba(138, 190, 238, 0.1),
    15px 15px 15px rgba(138, 190, 238, 0.1);

  animation: move 5s linear infinite forwards, run 10s linear infinite;

  transform: translateX(200px);
}
.right {
  width: 150px;
  height: 150px;
  border: 8px solid rgb(0, 212, 184);
  background: rgb(109, 156, 223);
  opacity: 0.8;
  margin: auto;
  border-radius: 30% 70% 70% 30% / 30% 40% 60% 70%;
  box-shadow: inset 5px 10px 15px rgba(138, 190, 238 0.4),
    10px 15px 15px rgba(138, 190, 238, 0.1),
    15px 15px 15px rgba(138, 190, 238, 0.3);

  animation: move 8s linear infinite forwards;

  transform: translateX(-200px);
}
.circle-img {
  width: 100px;
  height: 100px;
}

@keyframes move {
  30% {
    border-radius: 30% 70% 36% 64% / 30% 52% 48% 70%;
  }
  60% {
    border-radius: 30% 70% 61% 39% / 30% 52% 48% 70%;
  }
}
@keyframes run {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(280px);
  }
}
